<h1>Edit this post</h1>
<div class="control">
<%= form_for @post do |f|  %>
  <%= f.label :title, :class => 'label' %>
  <%= f.text_field :title, class: "input is-success" %><br />
  <%= f.label :preference, :class => 'label' %>
  <%= f.select :preference, options_for_select(["","Singles", "Doubles", "Singles and Doubles"], @post.preference)%><br />
  <%= f.label :level, :class => 'label' %>
  <%= f.select :level, options_for_select(["","2.5", "3.0", "3.5", "4.0", "4.5", "5.0"], @post.level)%><br/>
  <%= f.label :gender, :class => 'label' %>
  <%= f.select :gender, options_for_select(["","Male", "Female"], @post.gender)%><br />
  <%= f.label :age_group, :class => 'label' %>
  <%= f.select :age_group, options_for_select(["","under 17", "18-25", "26-35", "36-49", "50+", "60+"], @post.age_group)%><br />
  <%= f.label :city, :class => 'label' %>
  <%= f.text_field :city, class: "input is-success" %><br />
  <%= f.label :state, :class => 'label' %>
  <%= f.select :state, options_for_select([ "","AK", "AL", "AR", "AS", "AZ",
  "CA", "CO", "CT", "DC", "DE", "FL", "GA", "GU", "HI", "IA", "ID", "IL", "ME",
  "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV",
  "NY", "OH", "OK", "OR", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT",
  "VA", "VI", "VT", "WA", "WI", "WV", "WY"], @post.state)%><br />
  <%= f.label :date, :class => 'label' %>
  <%= f.text_field :date %><br />
  <%= f.label :time, :class => 'label' %>
  <%= f.select :time, options_for_select(["","Morning", "Afternoon", "Evening"], @post.time) %><br />
  <%= f.label :comments, :class => 'label' %>
  <%= f.text_field :comments, class: "input is-success" %><br /><br />
  <%= f.submit "Update Post", class: "button is-info", method: :get %>
<% end %>
</div>
