<h1>Play Some Tennis!</h1><br />
<div class="control">
<%= form_for @post do |f| %>
  <%= f.label :title, "Title: ", :class => 'label' %>
  <!-- <%= f.text_field :title %><br /> -->
    <%= f.text_field :title, class: "input is-success" %><br /><br />
  <%= f.label :preference, "Preference: ", :class => 'label' %>
  <!-- <%= f.text_field :preference %><br /> -->
  <%= f.select :preference, options_for_select(["","Singles", "Doubles", "Singles and Doubles"])%><br /><br />
  <%= f.label :level, "USTA Level: ", :class => 'label' %>
  <%= f.select :level, options_for_select(["","2.5", "3.0", "3.5", "4.0", "4.5", "5.0"])%><br/><br />
  <%= f.label :gender, "Gender: ", :class => 'label' %>
  <!-- <%= f.text_field :gender %> -->
  <%= f.select :gender, options_for_select(["","Male", "Female"])%><br /><br />
  <%= f.label :age_group, "Age Group: ", :class => 'label' %>
  <%= f.select :age_group, options_for_select(["","under 17", "18-25", "26-35", "36-49", "50+", "60+"])%><br /><br />
  <%= f.label :city, "City: ", :class => 'label' %>
  <%= f.text_field :city, class: "input is-success" %><br /><br />
  <%= f.label :state, "State: ", :class => 'label'%>
  <%= f.select :state, options_for_select([ "","AK", "AL", "AR", "AS", "AZ",
  "CA", "CO", "CT", "DC", "DE", "FL", "GA", "GU", "HI", "IA", "ID", "IL", "ME",
  "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV",
  "NY", "OH", "OK", "OR", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT",
  "VA", "VI", "VT", "WA", "WI", "WV", "WY"]) %><br /><br />
  <%= f.label :date, "Date: ", :class => 'label' %>
  <%= f.date_select(:date)%><br /><br />
  <%= f.label :time, "Time: ", :class => 'label'%>
  <%= f.select :time,  options_for_select(["","Morning", "Afternoon", "Evening"])%><br /><br />
  <%= f.label :comments, "Comments: ", :class => 'label' %>
  <%= f.text_field :comments, class: "input is-info" %><br /><br />
  <%= f.submit "Post", class: "button is-info" %>
<% end %>
</div>

<!-- <h3><%= button_to 'Sign In', new_user_session_path, method: :get %></h3> -->
<!-- <h3><%= button_to 'Create New Post', new_post_path, method: :get %> </h3> -->
