<h1> Post Details </h1>
<div class="control">
<h3> Title:  <%= @post.title %></h3>
<h3> Preference:  <%= @post.preference %> </h3>
<h3> Age Group:  <%= @post.age_group %> </h3>
<h3> USTA Level:  <%= @post.level %> </h3>
<h3> City:  <%= @post.city %> </h3>
<h3> State:  <%= @post.state %> </h3>
<h3> Gender:  <%= @post.gender %> </h3>
<h3> Time:  <%= @post.time %> </h3>
<h3> Date:  <%= @post.date %> </h3>
<h3> Comments:  <%= @post.comments %> </h3>
</div>


<!-- <h3><%= link_to '<< Home', root_path %> </h3> -->

<% if user_signed_in? %>
<%= button_to 'Contact this user about playing', post_responses_path(@post.id), method: :post %>
<%end%>

<% if @post.user == current_user %>
<h3><%= button_to 'Edit Post', edit_post_path(@post), method: :get %> </h3>
<%= button_to "Delete Post", @post, method: :delete, id: 'delete', data: {confirm: 'Are you sure?'} %>
<%end%>

<!-- <% if @show_response_box %> -->
<%= check_box_tag(:response) %>
<%= label_tag(:response, "I'm interesting in playing!") %>
<%= f.submit "Send Response", class: "button is-info" %>
<!-- submit button to response create path
<% end %> -->
