<!DOCTYPE html>
<html>
  <head>
    <title>Breakable Toy</title>
      <%= csrf_meta_tags %>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <section class="section">
      <div class="container">
    <ul>
      <div class="block">
        <nav class="nav">
          <div class="nav-left">
            <% if user_signed_in? %>
              <h3><%= button_to 'Create New Post', new_post_path, class: "button is-info", method: :get %> </h3>
              <h3><%= button_to 'Home', root_path, class: "button is-primary", method: :get %> </h3>
            <% end %>
            <div class="nav-center">
              <p> Game, Set, Match </p>
            </div>
        </div>



      <!-- <li>This will be a nav bar!</li> -->

      <% if user_signed_in? %>
      <li><%= button_to 'Sign Out', destroy_user_session_path, class: "button is-danger", method: :delete %></li>
      <% else %>
      <li><%= link_to 'Sign In', new_user_session_path %></li>

      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>

    </ul>

    <% if !flash.empty? %>
      <% flash.each do |key, value| %>
        <article class="message is-danger">
          <div class="message-body">
            <h3><%= value %></h3>
          </div>
        </article>
      <% end %>
    <% end %>
    <%= yield %>
      </div>
    </section>
  </body>
</html>
